<h1>Editing primary shipping address</h1>

<%= render "form", primary_shipping_address: @primary_shipping_address %>

<br>

<div>
  <%= link_to "Show this primary shipping address", @primary_shipping_address %> |
  <%= link_to "Back to primary shipping addresses", primary_shipping_addresses_path %>
</div>
