<p style="color: green"><%= notice %></p>

<h1>Primary shipping addresses</h1>

<div id="primary_shipping_addresses">
  <% @primary_shipping_addresses.each do |primary_shipping_address| %>
    <%= render primary_shipping_address %>
    <p>
      <%= link_to "Show this primary shipping address", primary_shipping_address %>
    </p>
  <% end %>
</div>

<%= link_to "New primary shipping address", new_primary_shipping_address_path %>
