<h1>New primary shipping address</h1>

<%= render "form", primary_shipping_address: @primary_shipping_address %>

<br>

<div>
  <%= link_to "Back to primary shipping addresses", primary_shipping_addresses_path %>
</div>
