<div class="row mb-5">
  <div class="col-6">
    <h1>New customer address</h1>
  </div>

  <div class="col-6 d-flex justify-content-end">
    <%= link_to "Back", customer_addresses_path, class: 'btn btn-secondary align-self-center' %>
  </div>
  
  <div class="col-3"></div>
  <div class="col-6 border-top pt-4">
    <%= render "form", customer_address: @customer_address %>
  </div>
  <div class="col-3"></div>
</div>
